body{
    width: 80%;
    margin: auto;
    font-family: 'Poppins', sans-serif;
    margin-top: 5%;
}
header h1{
    font-size: 4vh;
}
header p{
    font-size: 2vh;
}
img{
    width: 100%;
    margin-top: 3%;
}
main h2{
    font-size: 4vh;
}
main h5{
    font-size: 2vh;
    font-style: italic;
    font-weight: lighter;
}
.checkList{
    font-size: 3vh;
}
input {
    width: 30px;
    height: 30px;
}
.checkList label{
    margin-top: 0;
}
samp{
    font-weight: bolder;
}